---
import LayoutPhysicalRehabilitation from "@/layouts/LayoutPhysicalRehabilitation.astro";
---

<LayoutPhysicalRehabilitation title="404 Not Found">
  <div class="flex flex-col justify-center items-center h-96">
    <h1 class="text-blue-900 text-3xl">Esta página no existe ...</h1>
    <img src="https://midu.dev/images/this-is-fine-404.gif" />
  </div>
</LayoutPhysicalRehabilitation>
