---
import Email from "../icons/Email.astro";
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import logoImage from "../../images/logo2.png";
import Logo from "./Logo.astro";
---

<footer class="bg-emerald-100 body-font">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <Logo />
    <p
      class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2024 PhysicalRehabilitation
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <Facebook
        link="https://www.facebook.com/rehabilitationphysical"
        tlwStyles="hover:stroke-blue-700 cursor-pointer"
      />
      <Instagram
        link="https://www.instagram.com/rehabilitationphysical_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        tlwStyles="hover:stroke-pink-500 cursor-pointer"
      />
      <WhatsApp
        link="https://wa.me/+523332579424"
        tlwStyles="hover:stroke-lime-300 cursor-pointer"
      />
      <Email
        link="mailto:physical.rehabilitationtf@gmail.com"
        tlwStyles="hover:stroke-red-500 cursor-pointer"
      />
    </span>
  </div>
</footer>
