---
import logoImage from "../../images/logo2.png";
import HeaderPButton from "./HeaderPButton.astro";
import Email from "../icons/Email.astro";
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Logo from "./Logo.astro";
---

<header class="bg-teal-100 body-font fixed w-full z-10">
  <div
    class="w-full flex justify-between p-2 flex-col md:flex-row items-center"
  >
    <!-- <div class="hidden md:block"> -->
      <Logo />
    <!-- </div> -->
    <nav
      class="w-2/4 items-center text-base justify-center m-0 flex-col sm:flex-row hidden lg:flex"
    >
      <HeaderPButton href="#inicio"> Inicio </HeaderPButton>
      <HeaderPButton href="#clinica"> Nuestra clínica </HeaderPButton>
      <HeaderPButton href="#servicios"> Servicios </HeaderPButton>
      <HeaderPButton href="#contacto"> Contacto </HeaderPButton>
    </nav>
    <section class="flex justify-center gap-6 w-1/4">
      <Facebook
        link="https://www.facebook.com/rehabilitationphysical"
        tlwStyles="hover:stroke-blue-700 cursor-pointer"
      />
      <Instagram
        link="https://www.instagram.com/rehabilitationphysical_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        tlwStyles="hover:stroke-pink-500 cursor-pointer"
      />
      <WhatsApp
        link="https://wa.me/+523332579424"
        tlwStyles="hover:stroke-lime-300 cursor-pointer"
      />
      <Email
        link="mailto:physical.rehabilitationtf@gmail.com"
        tlwStyles="hover:stroke-red-500 cursor-pointer"
      />
    </section>
  </div>
</header>
