---
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="w-1/4  cursor-pointer text-slate-800 md:text-lg text-center h-10 rounded-3xl border-2 border-transparent hover:border-2 hover:bg-sky-500 flex-row justify-center focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium px-5 py-2.5 inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-110 scale-90 gap-x-2 opacity-90 hover:opacity-100"
>
  <slot />
</a>
