---
import logoImage from "../../images/logo2.png";
---

<picture class="flex justify-center md:w-80 h-20 cursor-pointer">
  <a href="./" >
    <img
      class="md:ml-auto md:mr-auto rounded-lg h-full"
      src={logoImage.src}
      alt={`Patch for launch `}
    />
  </a>
</picture>
