<section class="text-gray-600 body-font" id="servicios">
  <div class="px-5 pb-20 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900"
      >
        Servicios
      </h1>
      <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Los servicios
      </p> -->
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-center whitespace-no-wrap">
        <thead>
          <tr>
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"
              >Servicio</th
            >
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >Precio</th
            >
            <th
              class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >Descripción</th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="px-4 py-3">Valoracion</td>
            <td class="px-4 py-3">$400</td>
            <td class="px-4 py-3">Alguna descripcion</td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3"
              >Sesión de terapia física</td
            >
            <td class="border-t-2 border-gray-200 px-4 py-3">$350</td>
            <td class="px-4 py-3">Alguna descripcion</td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3"
              >Masaje deportivo</td
            >
            <td class="border-t-2 border-gray-200 px-4 py-3">$350</td>
            <td class="px-4 py-3">Alguna descripcion</td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3"
              >Masaje relajante</td
            >
            <td class="border-t-2 border-gray-200 px-4 py-3">$350</td>
            <td class="px-4 py-3">Alguna descripcion</td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3"
              >Masaje relajante</td
            >
            <td class="border-t-2 border-gray-200 px-4 py-3">$---</td>
            <td class="px-4 py-3">Alguna descripcion</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
      <button
        class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"
        >Button</button
      >
    </div>
  </div>
</section>
